@page
@model Cursos.Pages.Course.IndexModel
@using Business
@using Entity
@using Cursos.Pages.Course
@{

    ViewData["Title"] = "Course";
    List<CourseEntity> Courses = new List<CourseEntity>();
    Courses = B_Course.CourseList();
}
<h1 class="text-center mb-3 animate__animated animate__backInDown "> Course 👾 </h1>
@if (Model.Message != null)
{
    <div class="alert alert-info alert-dismissible animate__animated animate__pulse " role="alert">
        <button class="close" type="button" aria-label="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @Model.Message
    </div>
}

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-6 col-sm-6 ">
                <h2 class="h2">Courses List</h2>
            </div>
            <div class="col-6 col-sm-6 text-right">
                <a asp-page="CreateCourse" class="btn btn-success">Create Course</a>
            </div>
        </div>
        <hr class="mt-3 mb-3 " />
        @if (B_Course.CourseList().Count > 0)
        {
            <table class="table table-hover table-bordered  animate__animated animate__pulse">
                <thead>
                    <tr>
                        <td class="text-center">Unique Identifier</td>
                        <td class="text-center">Name Course</td>
                        <td class="text-center">Quantity Of The Course</td>
                        <td class="text-center"> Actions </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Courses)
                    {
                        <tr>
                            <td class="text-center"> @course.IdCourse </td>
                            <td class="text-center"> @course.Name </td>
                            <td class="text-center"> @course.QuantityCourse </td>
                            <td class="d-flex justify-content-around ">
                                <a asp-route-id="@course.IdCourse" asp-page="UpdateCourse" class="btn btn-success">Update</a>
                                <button asp-route-id="@course.IdCourse" asp-page-handler="Delete" onclick="return confirm('You Want to Delete the Course ...')" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1 class="text-center alert-danger alert h1 animate__animated animate__zoomIn ">No data in Table 😪</h1>
        }
    </form>


</div>

